extends layout

block content
    h1= title
    ul
    each info in information_list
        li
            a(href=info.url) #{info.title}
            |   (#{info.author.name})
    else
        li There are no informations