extends layout

block content
    h1= title

    ul
        each val in information_instance_list
            li  
                a(href=val.url) #{val.information.title}: #{val.imprint}
        else
            li There are no information copies in this