extends layout

block content
    h1= title
    ul
    -information_list.sort(function(a,b){let textA = a.title.toUpperCase();let textB = b.title.toUpperCase();return (textA < textB) ? -1 : (textA > textB) ? 1 : 0})
    each information in information_list
        li
            a(href=information.url) #{information.title}
            | (#{information.author.name})
    else
        li There are no informations