extends layout
block content

    h1= title
    if logininfo.unlogin
        form.form-horizontal( role="form", method="POST", action='/login')
            .form-group
                label.col-sm-2.control-label(for="signupName") 用户名
                .col-sm-10
                input#signupName.form-control(type="text", name="user[name]", placeholder="输入用户名")
            .form-group
                label.col-sm-2.control-label(for="signuppassword") 密码
                .col-sm-10
                input#signuppassword.form-control(type="password", name="user[password]", placeholder="输入密码")
            if logininfo.tip
                div.alert.alert-warning 用户名或密码错误
            .form-group
                .col-sm-offset-2.col-sm-10
                button.btn.btn-default(type="submit") 登录
    if logininfo.logined
            div.alert.alert-success 成功登录